@model WakeApp.Models.DeviceViewModel

@{
    ViewData["Title"] = "Dodaj urządzenie";
}


<section class="my-5">
    <h2 class="h1-responsive font-weight-bold ">Dodaj nowe urządzenie</h2>
    <hr />

    <div class="row" style="background-color:white; padding:30px 10px 30px 10px">
        <div class="col-lg-5 mb-lg-0 mb-4">

            <div class="card" style="border:0">
                <div class="col-md-10">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DeviceType" class="control-label"></label>
                            <select class="form-control" asp-for="DeviceType" asp-items="Model.DeviceTypes"></select>
                            <span asp-validation-for="DeviceType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Mac" class="control-label"></label>
                            <input asp-for="Mac" class="form-control" />
                            <span asp-validation-for="Mac" class="text-danger"></span>
                        </div>
                        @if (User.IsInRole("SuperUser"))
                        {
                            <div class="form-group">
                                <label asp-for="UserId" class="control-label"></label>
                                <select class="form-control" asp-for="UserId" asp-items="Model.Users"></select>
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                        }
                        <div class="form-group">
                            <input type="submit" value="Dodaj" class="btn btn-success" />
                        </div>

                    </form>
                </div>
            </div>
        </div>


        <div class="col-lg-auto mx-auto">
            <img src="~/img/logo.png" class="center-block img-responsive" width="350" height="350" />
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}