@{
    ViewData["Title"] = "Pomoc";
}

<section class="my-5">
    <h2 class="h1-responsive font-weight-bold ">Pomoc</h2>
    <hr />
    <div>
        <p>Na czym polega nasza aplikacja?</p>
        <p style="padding-left: 40px;">Podstawą działania naszej aplikacji jest przynależność do grupy, która zostaje utworzona przez użytkownika (tzn. Użytkownik rejestrując grupę otrzymuje prawa SuperUsera).</p>
        <p style="padding-left: 40px;">SuperUser  posiada wszystkie prawa do zarządzania treściami aplikacji, co oznacza, że może dodawać, modyfikować i usuwać wszystkie pozycje alarmów – czyli może bez ograniczeń zarządzać wszystkimi urządzeniami i alarmami w danej grupie. Tworzy harmonogramy i rozdysponuje je na innych użytkowników bądź urządzenia danej grupy.</p>
        <p style="padding-left: 40px;">Do grupy za pomocą funkcji logowania dołączani są pozostali użytkownicy.</p>
        <p style="padding-left: 40px;">Po zalogowaniu takiemu użytkownikowi nadawane są prawa zwykłego usera co oznacza, że nie posiada możliwości modyfikacji alarmów utworzonych przez innych użytkowników grupy. Jest ograniczony dostępem jedynie do zarządzania swoim urządzeniem.</p>
    </div>
</section>