@{
    ViewData["Title"] = "Polityka prywatności";
}

<section class="my-5">
    <h2 class="h1-responsive font-weight-bold ">Polityka prywatności</h2>
    <hr />
    <div>
        <p>Niniejszą stroną zarządza <strong>WakeApp Team</strong> z siedzibą w Gdańsku (dalej: „Administrator”). Dokument ten, stanowi politykę prywatności określającą zasady postępowania z Państwa danymi osobowymi, przetwarzanymi przez nas w trakcie korzystania ze strony.</p>
        <p> </p>
        <ol>
            <li>Do przetwarzania danych osobowych stosuje się przepisy Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przepływem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (dalej: RODO) oraz ustawy o ochronie danych osobowych z dnia 10 maja 2018 roku (publikator wersji pierwotnej: Dz.U.2018.1000)</li>
            <li>Stowarzyszenie jest administratorem Państwa danych osobowych w rozumieniu RODO. Kontakt z nami jest możliwy poprzez adres e-mail: <a href="mailto:biuro@projektbudzik.pl">biuro@projektbudzik.pl</a> lub drogą korespondencji tradycyjnej, którą prosimy kierować na adres siedziby Stowarzyszenia.</li>
            <li>W trakcie używania serwisu, gromadzimy następujące Państwa dane:</li>
        </ol>
        <p style="padding-left: 40px;">- zapisywanie w urządzeniach końcowych plików „cookies” (tzw. „ciasteczka”)</p>
        <p style="padding-left: 40px;">- gromadzenie logów serwera przez operatora hostingu</p>
        <p style="padding-left: 40px;">Jak widać, są to dane podstawowe i niespersonalizowane które dotyczą ruchu w witrynie. Są one niezbędne w celu udostępniania treści gromadzonych na prowadzonym przez nas serwisie. Oprócz tego, dane są gromadzone w celu prowadzenia statystyk służących usprawnieniu prowadzonej działalności. W obu przypadkach dane są gromadzone do celów wynikających z prawnie uzasadnionych interesów Stowarzyszenia (art. 6 ust. 1 lit. f RODO)</p>
        <ol start="4">
            <li>Dane, o których mowa powyżej, nie są wykorzystywane w celach komercyjnych. Nie są także przekazywane innym podmiotom z wyłączeniem operatora hostingu, w szczególności nie są one przekazywane do podmiotu mającego swoją siedzibę w innym państwie członkowskim lub państwie trzecim.</li>
            <li>Dane, o których mowa w pkt. 3, są gromadzone co do zasady wyłącznie przez okresy wskazane odrębnymi przepisami albo do czasu, w którym odpadnie podstawa ich przetwarzania (tj. ich przetwarzanie przestanie być konieczne).</li>
            <li>Jako użytkownik serwisu, masz prawo do dostępu, sprostowania, usunięcia swoich danych osobowych oraz ograniczenia ich przetwarzania, a także do wniesienia sprzeciwu wobec ich przetwarzania oraz przeniesienia danych osobowych. Realizacja żądania nastąpi po kontakcie ze Stowarzyszeniem.</li>
            <li>Oprócz tego, jako użytkownik serwisu masz prawo do złożenia skargi do Prezesa Urzędu Ochrony Danych Osobowych (ul. Stawki 2, 00-193 Warszawa) w przypadku, w którym uznasz, że sposób przetwarzania danych osobowych przez Stowarzyszenie jest niezgodny z prawem.</li>
        </ol>

    </div>
</section>